<!--<h1>Contacts - Backbone</h1>-->
<div class="page-header">
  <h1>Contacts <small></small></h1>
</div>
<div class="row">
  <div id="contacts-app" class="span10">
    <h2>Contact List</h2>

    <input type="text" placeholder="Search" id="search-text"/> <input type="submit" value="Search" />

    <table id="contact-list"></table>

  </div>
  <div class="span4">
    <h3></h3>
  </div>
</div>

<!-- Templates -->
<script type="text/html" id="contact_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
</script>

<script type="text/html" id="contact_table_item">
  <td>{{first_name}} {{last_name}}</td>
  <td>{{address1}}<br/>{{address2}}<br/>{{city}} &nbsp; {{postcode}}<br/>{{state}} &nbsp; {{country}}</td>
</script>

<script type="text/javascript">
  $(function(){

    window.ContactsApp = new AppView;
//    window.Contacts = new ContactsList;
//
////    window.Contacts.fetch({ success: function() {
////        window.MyContactList = new ContactListView({ collection: window.Contacts, el: $("#contact-list") });
////    }});
//
//    window.Contacts.fetchLocal({ success: function() {
//        window.MyContactList = new ContactListView({ collection: window.Contacts, el: $("#contact-list") });
//    }});

  });
</script>