<div class="page-header">
  <h1>
    Contacts App<br/>
    <small>Using backbone.js and localStorage</small>
  </h1>
</div>
<div class="row">
  <div id="contacts-app" class="span14">

    <div class="right">
      <button id="reload" class="btn info">Reload</button>
    </div>

    <div id="contact-search">
        <input type="text" placeholder="Search" id="search-text"/>
        <input type="submit" value="Search" class="btn primary"/>
    </div>

    <table id="contact-list" class="bordered-table zebra-striped"></table>

    <div class="pagination">
        <ul id="pagination">
            <li class="prev disabled"><a href="#">&larr; Previous</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">Next &rarr;</a></li>
        </ul>
    </div>

    <%= link_to 'New Contact', new_contact_path, :class => 'primary btn' %>

  </div>
</div>

<!-- Templates -->
<script type="text/html" id="contact_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th width="13%">Actions</th>
    </tr>
  </thead>
</script>

<script type="text/html" id="pagination_item">
  <li class="{{class}}"><a href="#">{{content}}</a></li>
</script>

<script type="text/html" id="contact_table_item">
  <td>{{first_name}} {{last_name}}</td>
  <td><address>{{address1}}<br/>
    <!--{{address2}}<br/>-->
    {{city}}, {{state}}<br/>{{country}}, {{postcode}}</address></td>
  <td>
    <div class="right">
      <a href="/contacts/{{id}}" class="btn small">view</a>&nbsp;<a href="/contacts/{{id}}/edit" class="btn small">edit</a>
    </div>
  </td>
</script>

<script type="text/javascript">
  $(function(){
    window.ContactsApp = new AppView;
  });
</script>